

h1, h2, h3, p, li {
	font-family: Arial, sans-serif;
	color: #0b1e30;
}

h1 {
	font-weight: normal;
	background-color: #f5f5f7;
	font-size: 34px;
	margin: 0 0 1em 0;
	padding: 0.8em 0 0.8em 0;
	border-bottom: 1px #b6bbc1 solid;
}

h2 {
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 1em;
}

p {
	font-size: 16px;
}

a {
	color: #38bd47;
}


h1, h2, h3, p {
	padding-left: 25px;
	padding-right: 25px;
}

ul, li {
	margin-left: 25px;
	margin-right: 25px;
}
