@import (reference) 'vars.less';


// Hamburger nav
header {
	nav {
		// display: none;

		// Stuff to fade in
		ul,
		.logout-link {
    		opacity: 0;
			transition: opacity 0.25s linear;
		}

	}
}


#site-navigation {
	display: block;
	overflow: hidden;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;

	width: 0; // hides the navigation
}

.menu-toggle {
	display: block;
	position: absolute;
	right: 6rem;
	top: 3.5rem;
	z-index: 2;


	img:first-child {
		display: block;
	}

	img:last-child {
		display: none;
	}

}

// Nav showing
html.nav-showing {
	overflow-y: hidden;

	// Stuff to fade in
	ul,
	.logout-link {
		opacity: 1;
	}

	.menu-toggle {
		img:first-child {
			display: none;
		}

		img:last-child {
			display: block;
		}
	}


	header nav#site-navigation {
		background-color: @bg-grey;
		// opacity: 1;
		width: 100%;

		padding: 4rem 6rem;


		.nav-logo {
			display: block;
		}

		.logout-link {
			position: relative;
			top: 0;
			left: 0;
			margin-top: 4rem;
		}

		ul {
			margin-top: 9.6rem;
		}

		li {
			float: none;
			font-size: 3.6rem;

			a {
    			font-family: 'Haas-light';
				font-size: inherit;
				color: @black;
				opacity: 0.33;
				border-bottom: 1px @black solid;
    			text-transform: none;
    			letter-spacing: .216rem;
    			line-height: 3.6rem;
    			margin-bottom: 2rem;

				&:after {
					display: none;
				}

				&.active {
					color: @green;
				}
			}
		}

	}
}

