
// Phone
@media screen and (max-width:@phone) {
    // Set up auto-size
    @start-width: @phone;
    @end-width: 320;

    // export breakpoint
    body:before {
		content: "phone";
        display: none;		
    }

   .tablet-landscape-only {
    	display: none;
    }
    .tablet-portrait-only {
    	display: none;
    }
    .phone-only {
    	display: block;
    }

    .not-phone {
    	display: none;
    }



    /*
     * Reduce margins
     */

    .menu-toggle {
        right: 3.6rem;
    }

    .limit-width {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
    }

    footer,
    html.nav-showing header nav#site-navigation {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
    }

    footer .right {
        float: none;
        margin-top: 1em;
        padding-bottom: 2rem;


        a {
            margin-left: 0;
            margin-bottom: 1em;
        }
    }


    // Reduce headline size
    .fifty-fifty,
    .single-event .fifty-fifty,
    .agenda .fifty-fifty {
        h1 {
            font-size: 3.4rem;
        }

        h2 {
            font-size: 2.9rem;
        }

        p {

        }
    }

    // Event list
    // Switch to one-up
    .single-event .day {
    
        section > div > div {
            font-size: 10px;
            padding: 40px;
        }

        section > div {
            width: 100%;
        }
    }

    .single-event,
    .agenda {
        .day h3 {
            .auto-size-rule(font-size, 32.4px, 24px);
        }
    }


    .nav-tabs {
        padding: 3rem 3rem 1.6rem 3rem;

        a {
            .link-style-wrap-safe();
        }
        
    }

    body.agenda article.day > div > div {
        font-size: 1.7rem;
        .auto-size-rule(font-size, 20px, 17px);
    }


    body.player .bottom a {
        .link-style-wrap-safe();
    }


    // Login

    body.login {
        .no-wrap {
            white-space: normal;
        }

        form input[type=email] {
            width: 100%;
        }
    }


    #gdpr {
        .cookie-notice {
            padding-left: 3.6rem;
            padding-right: 3.6rem;
        }
    }    

}








