@charset "UTF-8";

/*
 © Chris How, Primesolid 2021
 All rights reserved.
*/



/*

	EXTREMELY IMPORTANT!

	Don't make changes to the styles.css file. Change the styles.less file, and compile the changes. 

	Otherwise you will lose the changes when the less file is next compiled!

*/



@import (reference) 'vars.less';
@import  'reset.less';



/////////////////
// Fonts
/////////////////

@font-face {
	// Light
    font-family: 'Haas-light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/haas-light.woff') format('woff');
}
    
@font-face {
	// Roman
    font-family: 'Haas-regular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/haas-normal.woff') format('woff');
}

@font-face {
	// Medium
    font-family: 'Haas-bold';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/haas-bold.woff') format('woff');
}

@font-face {
	// Medium
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/optima.woff') format('woff');
}




/////////////////
// xdebug
/////////////////
.xdebug-var-dump {
	font-size: 1.5rem;
	font-family: monospace;
	margin-top: 110px;
}

// Export breakpoint
body:before {
	content: "desktop";
    display: none;
}




/////////////////
// Vertically centered
/////////////////

.vc {
    text-align: center;

    &:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.35em; /* Adjusts for spacing */
    }

    > div.vc-inner {
	display: inline-block;
	vertical-align: middle;
    }
}


/////////////////
// Prevent wrap
/////////////////

.no-wrap {
	white-space: nowrap;
}


/////////////////
// Table layout mixins
/////////////////

.table {
	display: table;
	width: 100%
}

.table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


/////////////////
// Hide on phone
/////////////////

.phone-only {
	display: none;
}


/////////////////
// Flash/warnings/errors
/////////////////

.alert {
    padding: 1rem;
    margin: 0 auto 3rem auto;
    border: 1px solid transparent;
    font-size: 2rem;
    width: 80%;

    color: #155724;
    background-color: #d4edda;
    border-color: #155724;
    border-radius: .4rem;

    &.alert-danger {
    	background-color: #f8d7da;
    	color: #721c24;
    	border-color: #f5c6cb;
    }
}


/////////////////
// Expander support
/////////////////

.expander {
	display: none;
}



/////////////////
// HMTL & body
/////////////////

html {
    font-size: 10px;
    line-height: 1.5;
	background-color: @bg-grey;
	color: @black;
}

body {
	background-color: white;
	font-family: "Haas-light", serif;
	font-weight: 300;
}


html, body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
}


/////////////////
// Text defaults 
/////////////////

h1,
h2 {
	font-family: 'Haas-light';
	font-weight: normal;
	font-size: 4.9rem;
	letter-spacing: 0.06rem;
	line-height: 1.1;
	margin: 0 0 0.8em 0;

	> b {
		font-family: 'Optima';
		font-weight: normal;
		color: @green;
		letter-spacing: -0.042rem;
	}
}

h2 {
	font-size: 2.3rem;
	line-height: 1.3;
	margin-bottom: 1.3em;
}

p {
	font-family: 'Haas-regular';
	font-size: 1.6rem;
	margin: 0 0 1em 0;
	letter-spacing: 0.042rem;
}

a {
	color: @green;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.black {
		color: black;
	}
}

hr {
	border: none;
	border-bottom: 1px @border-grey solid;
}


strong, b {
	font-family: 'Haas-bold';
	font-weight: normal;
}

/////////////////
// Avoid page load animation bug on IE11
/////////////////

body.siteload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/////////////////
// Header
/////////////////

header {
	position: fixed;
	z-index: 99;
	top: 0;
	margin: 0;
	padding-top: 2rem;
	height: 10rem;
	width: 100%;

	border-bottom: 1px @border-grey solid;
	background-color: @bg-grey;

	color: black;

	#site-logo {
		position: absolute;
		left: 50%;
		margin-left: -55px;
	}
}



#main {
	// Allow space for fixed header
	margin-top: 10rem;

	// Sticky footer
	min-height: ~"calc(100vh - 114px - 100px)";
}


/////////////////
// Navigation
/////////////////


#site-navigation {
	float: left;
	margin-left: 60px;
	margin-top: 20px;

	.nav-logo {
		display: none;
	}

	li {
		float: left;
	}

	a {
		.link-style();
	}

	.logout-link {
		position: absolute;
		top: 34px;
		right: 30px;
	    line-height: 2.6rem;
	    max-width: 200px;
	    text-decoration: none;
	    padding-right: 1rem;
	    padding-left: 1rem;
	    border: 2px solid @black;

	    &:after {
	    	display: none;
	    }

	    &:hover {
		    background-color: @black;
		    color: white;
		    transition: background-color .3s linear;	    	
	    }

	}
}

.menu-toggle {
	display: none;
}

/////////////////
// Article classes
/////////////////


.fifty-fifty {
	overflow: hidden;
	position: relative;

	> div {
		width: 50%;
		float: left;
	}

	.copy {
		> div {
			width: 80%;
			margin: 15% auto;
			text-align: center;

			p {
				width: 95%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.image {
		position: absolute;
		background: white 50% 50% no-repeat;
		background-size: cover;
		left: 50%;
		right: 50%;
		top: 0;
		bottom: 0;

	}
}


.limit-width {
	max-width: 1280px;
	padding: 0 6rem;
	// background-color: pink;
	margin: 0 auto;
	padding-top: 8rem;
	padding-bottom: 3.9rem;
}

.text-center {
	text-align: center;
}

.border-bottom {
	border-bottom: 1px @border-grey solid;
}

.forgot-password-link {
	font-size: 1.8rem;
	margin-bottom: 1.5em;
}


/////////////////
// Single event
/////////////////

.single-event,
.agenda {
	.fifty-fifty {

		h1 {
			font-size: 4rem;
			line-height: 1.2;
			margin-bottom: 0.4em;			
		}

		h2 {
			font-size: 3.4rem;
			color: @green;
			margin-bottom: 0.7em;
		}
	}
}

.nav-tabs {
	background-color: @bg-grey;
	text-align: center;
	padding: 3.5rem;

	a {
		.link-style();
		font-size: 15px;
		letter-spacing: .25rem;
        margin: 0 3rem;

		&:after {	
		    top: 11px;
		}
	}
}

.day {
	overflow: hidden;
	border-top: 1px @border-grey solid;
	font-size: 1rem;


	// container. 
	> div {
		// This trims off right-most border
		margin-right: -1px;

		// This trims off bottom border
		margin-bottom: -1px;
		> section {
			overflow: hidden;
			width: ~"calc(100vw + 1px)";
		}
	}

	// Date
	h3 {
		font-size: 3.6em;
		padding: 4.5rem;
		text-align: center;
	}

	// Presentations
 	section > div,
 	section > a {
 		display: block;
 		color: inherit;
		// overflow: hidden;
		width: 25%;
		float: left;

		border-right: 1px @border-grey solid;
		border-bottom: 1px @border-grey solid;

		&:hover {
			text-decoration: none;
		}

		&:nth-child(4n) {
			// border-right: none;
		}

		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}

		// Textual details
		> div {
			padding: 16% 16% 6% 16%;

			h4 {
				font-family: 'Haas-bold';
				font-size: 1.9em;
				margin-bottom: 1em;

				a {
					color: inherit;
				}
			}

			p {
				font-size: 1.6em;
			}
		}

		// Fake link for "download presentation"
		// Because we can't have nested links in HTML
		span.fake-link {
			color: @green;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/////////////////
// Agenda
/////////////////

body.agenda {
	article.day > div {
		> h3 {
			border-bottom: 1px @border-grey solid;
			margin-bottom: 6rem;
		}

		> div {
			max-width: 80rem;
			// background-color: pink;
			margin: 0 auto;
			overflow: hidden;
			font-size: 2rem;
			padding: 0 2.5rem;

			&:last-child {
				margin-bottom: 2rem;
			}

			> div {
				width: 70%;
				float: left;
				// background-color: yellow;
				margin-bottom: 1em;

				&:first-child {
					width: 30%;
				}
			}

			.time {
				// background-color: green;
				color: @green;

				> div {
					float: right;
					// background-color: red;
					width: 100%;
					padding-right: 2rem;
					font-family: 'Haas-regular';
				}
			}

			.detail {
				font-family: 'Haas-regular';
				span {
					font-family: 'Haas-light';
				}
			}
		}
	}


}



/////////////////
// GDPR compliance
/////////////////


#gdpr {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);

	.cookie-notice {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		color: white;
		padding: 30px 150px 40px 150px;
		overflow: hidden;
		background-color: @black;
		font-size: 2rem;

		h4 {
			font-size: 4rem;
		}

		p {
		}

		a {
			color: white;
		}

		hr {
			visibility: hidden;
			margin-top: 25px;
		}

		a.button {
			// display: block;
			text-decoration: none;
			clear: both;

			&:hover {
				background-color: white;
				color: @black;
			}
		}
	}
}





/////////////////
// Login form etc
/////////////////

form {
	input {
		.button;
		background-color: @bg-grey;
		border: 1px @border-grey solid;
		color: @black;
		text-transform: none;
		margin-right: 1.8rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		&:active,
		&:hover {
			background-color: inherit;
		}
		margin-bottom: 3rem;
	}

	button {
		.button;
		border: 1px @green solid;

		font-family: 'Haas-light';
		color: white;
		background-color: @green;
		width: auto;
		cursor: pointer;
		transition: background-color 0.25s linear, border-color 0.25s linear;
		text-transform: uppercase;
		// min-width: 12.5rem;

		&:active,
		&:hover {
			background-color: @black;
			border-color: @black;

		}

		margin-bottom: 3rem;
	}

	.placeholder({
		color: @border-grey;
		text-transform: uppercase;
	});
}

form.choose-password {
	font-size: 1.75rem;
	p {
		margin: 2.5rem;
		line-height: 2;
	}
}

.button {
	background-color: @green;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	box-shadow: none;
	text-transform: uppercase;
	font-family: 'Optima';

	padding: 1.5rem 4.5rem;
	width: 28rem;
	color: white;
	font-size: 1.6rem;	
	line-height: 1.2;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

	&.active,
	&:hover {
		background-color: @black;		
		text-decoration: none !important;
	}

	span {
		padding: 0px 0px 0px 10px;
	}
}


/////////////////
// Home page and default
/////////////////




/////////////////
// Footer
/////////////////

footer {
	height: 114px;
	padding: 5rem 6rem;
	background-color: @bg-grey;
	border-top: 1px @border-grey solid;
	font-size: 1.2rem;
	line-height: 1.5;

	.right {
		float: right;
	}

	// Privacy policy link
	a {
		.link-style();
		margin-left: 3rem;
		line-height: 0;
	}
}



/////////////////
// Generic page layout
/////////////////

body.generic {
	.content {
		font-family: 'Haas-regular';
		font-size: 16px;

		padding: 6rem;
		max-width: 160rem;
		margin: 0 auto;
	}

	h1,
	h2 {
		text-align: center;
	}

	h2 {
		// color: @green;
		font-size: 3rem;
	}

	h3 {
		font-size: 2.4rem;
	}

	ul {
		padding: 0 0 0 4rem;

		li {
			list-style: disc;
			padding: 0 0 0 0rem;

			> ul li {
				list-style: circle;
			}
		}
	}

	section {
		overflow: hidden;
		margin-bottom: 2rem;

		div:first-child {
			font-family: 'Haas-bold';
			float: left;
			width: 18%;
		}

		div:last-child {
			float: left;
		    width: 75%;
		}
	}

}


div.event-list {
	font-size: 1.6rem;


	article {
		text-align: center;
		transition: background-color 0.25s linear;

		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}

		> div {
			padding: 5.5rem 4rem 2rem 4rem;
			max-width: 137rem;
			margin: 0 auto;
		}

		h1 {
			font-size: unit(30/16, em);
			margin-bottom: 0.7em;
		}

		h2 {
			color: @green;
			font-size: unit(25/16, em);
			margin-bottom: 0.7em;
		}

		a {
			text-decoration: underline;
		}


		// Hover
		&.hover {
			background-color: @black;

			color: white;
		}
	}
}




/////////////////
// Player
/////////////////

.slideshow-border-radius {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}

.slideshow-box-shadow {
	-webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
}

body.player {
	// font-size: 2rem;


	#main {
		background: none;
	}

	.push {
		display: none;
	}

	.inner {
		// Also set in JS 
		height: ~"calc(100vh - 100px)";
	}

	.presentation {
		height: ~"calc(100% - 40px)";
		overflow: hidden;

		> div {
			height: 100%;
			padding: 25px;
			padding-bottom: 5px;
		}

		.left {
			position: relative;
			float: left;
			// background-color: #cfc;
			width: 433px;

			h3 {
				font-size: 2.8rem;
				font-family: 'Optima';
				color: @green;
				font-weight: normal;
				padding:  1rem;
				padding-top: 3rem;
				border-bottom: 1px @border-grey solid;
			}

			li {
				padding: 1.2rem 0 0 0.8rem;
				font-size: 1.8rem;
				line-height: 1.3;
				border-bottom: 1px @border-grey solid;

				&:last-child {
					border-bottom: none;
				}

				a {
					font-family: 'Haas-bold';
					text-decoration: none;	
					color: @black;
					// padding-bottom: 0.8rem;
					display: block;

					&.active {
						color: @green;
					}
				}

				&:first-child {
					border-top: none;
				}

				// Chapter description
				p {
					font-family: 'Haas-light';
					font-size: 1.4rem;
					letter-spacing: 0;
					margin-bottom: 0.9rem;
				}
			}
		}

		&.video-only {
			.left h3 {
				padding-top: 0;
			}
		}

		#chapters {
			overflow-y: auto;
			overflow-x: hidden;
			border-bottom: 1px @border-grey solid;
		}

		.video-container {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;

			> #video-player {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		#video-player {
			height: 215px; // Widescreen
			width: 100%;
			background-color: @black;
			display: block;
		}




		.right {
			// background-color: #ccf;
			width: 100%;
			padding-left: calc(433px + 0px); // Width of .left + gutter (currently 0)
			padding-right: 25px;
			// overflow: hidden;

			.slide-wrapper {
				overflow-y: auto;
				height: 100%;
			}

			// Is on right in video only 
			.video-container {
			}

			.right-inner {
				overflow: hidden;
				margin: 0 auto;				
			}
		}

		#current-slide {
			.slideshow-border-radius;
			.slideshow-box-shadow;
			width: ~"calc(100% - 20px)";
			height: auto;
			margin: 0 auto;
			display: block;
			border: 1px @border-grey solid;
		}

		#slide-navigator {
			position: relative;
			width: 100%;
			height: 95px;
			overflow-x: auto;
			overflow-y: hidden;
			padding-top: 10px;

			.inner {
				height: 77px;
			}
			


			a {
				outline: none;				
			}

			img {
				.slideshow-border-radius;
				.slideshow-box-shadow;
				width: 100px;
				display: block;
				float: left;
				border: 1px @black solid;
				margin: 1px 11px 1px 1px;

				&.active {
					border-color: @green;
				}
			}
		}


	}

	.bottom {
		padding-top: 0rem;
		// background-color: blue;
		text-align: center;

		a {
			.link-style();
			font-size: 1.3rem;
			letter-spacing: .25rem;
	    	margin-left: 2.5rem;
	    	margin-right: 2.5rem;

			&:after {	
			    top: 11px;
			}

		}
	}
}

/////////////////
// Video only variant
/////////////////

body.player.video-only {
	.presentation {
		.left h3 {
			padding-top: 0;
		}

		#video-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;
			margin: 0 auto;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

	}
}







/////////////////
// Media labels (for testing)
/////////////////

.media-label {
	position: absolute;
	right: 2px;
	bottom: 2px;
	font-size: 1rem;
	padding: 0.4rem;
	border: 1px black solid;
	background-color: white;
	font-family: sans-serif;
	opacity: 0.5;
	display: none;
}

/////////////////
// Media queries for tablet and phone
/////////////////

@import  'tablet-landscape.less';
@import  'tablet-portrait.less';
@import  'phone.less';

