// Tablet landscape
@media screen and (max-width:@tablet-landscape) {
    // Set up auto-size
    @start-width: @tablet-landscape;
    @end-width: @tablet-portrait;

    // export breakpoint
    body:before {
		content: "tablet-landscape";
        display: none;
    }

    .tablet-landscape-only {
    	display: block;
    }

    // Switch to hamburger nav at this width
    @import "hamburger-nav.less";


    .fifty-fifty {
    	> div {
    		width: 100%;    		
    	}

    	.copy > div {
    		width: 100%;
    		margin: 0;
    		padding: 5rem 3rem;
    	}

    	.image {
    		position: relative;
    		left: 0;
    		right: 0;
    		height: 40vw;
    		min-height: 30rem;
    	}
    }

    // Event list
    .single-event .day {
    	section > div > div {
			.auto-size-rule(font-size, 9px, 8px);
    		.auto-size-rule(padding, 30px, 20px);
    		.auto-size-rule(padding-top, 40px, 30px);
    	}

        // Switch to three-up
        section > div {
            width: 33.3333%;
        }
    }

    // Player tweaks

    body.player .presentation {
    	.left {
    		width: 40%;

    		h3 {
				.auto-size-rule(font-size, 28px, 21px);
    		}

    		li {
    			a {
    				font-size: 18px;
    				.auto-size-rule(font-size, 18px, 14px);
    			}

    			p {
    				font-size: 14px;
    				.auto-size-rule(font-size, 14px, 12px);
    			}
    		}
    	}

    	.right {
    		padding-left: 40%;
    	}

    }

}
