// Tablet portrait
@media screen and (max-width:@tablet-portrait) {
    // Set up auto-size
    @start-width: @tablet-portrait;
    @end-width: @phone;

    // export breakpoint
    body:before {
		content: "tablet-portrait";
        display: none;        
    }

   .tablet-landscape-only {
    	display: none;
    }
    .tablet-portrait-only {
    	display: block;
    }




    // Event list
    // Switch to two-up
    .single-event .day {

        section > div > div {
            .auto-size-rule(font-size, 10px, 9px);
            .auto-size-rule(padding, 40px, 30px);
            .auto-size-rule(padding-top, 50px, 40px);
        }

        section > div {
            width: 50%;
        }
    }



    // Generic page

    body.generic section {
        margin-bottom: 2rem;

        div:first-child {
            float: none;
            width: 100%;
        }

        div:last-child {
            float: none;
            padding-left: 4rem;
        }        
    }

    // Player tweaks

    body.player {
        .presentation {
            height: auto;

            > div {
                height: auto;
            }

            .left {
                width: 100%;

                .chapters-heading,
                #chapters {
                    display: none;
                }

            }

            .right {
                padding-left: 20px;
                float: none;
                clear: both;

                // Video only
                .right-inner {
                    width: ~"100% !important";
                    margin-bottom: 2rem;
                }
            }

            #current-slide {
                width: ~"calc(100% - 20px) !important";
                height: auto !important;
            }

            &.video-only {
                .left .chapters-heading {
                    font-size: 21px;
                    display: block;
                    padding: 0;
                    border-bottom: none;
                    margin-bottom: -2rem;
                }                
            }
        }

        .bottom {
            padding-bottom: 1.5em;
        }

    }


    #gdpr {
        .cookie-notice {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }    
}