

// Colours

@black: #0b1e31;
@bg-grey: #f5f5f7;
@border-grey: #b6bbc1;
@green: #38bd47;
@lighter-text: #a7a7a7;

// Sizing
@side-margin: 6rem;


// Font weights
@light: 300;
@normal: 400;
@bold: 500;

// Breakpoints
@tablet-landscape: 1024px;
@tablet-portrait: 782px;
@phone: 600px;


.at-max-width(@rules) {
    @media screen and (min-width:@max-site-width) {
	@rules();
    }
}


// Gets a vh+px value for a straight line on a scaling graph
.get-size (@start-width, @start-size, @end-width, @end-size) {
	@slope: (((@end-size - @start-size) / (@end-width - @start-width)) * 100);
  	@y-intersect: (@start-size -  ((@slope/100) * @start-width));
    @size: calc(@slope + 0vw ~"+" @y-intersect + 0px);
}

.get-size-rule(@rule, @start-width, @start-size, @end-width, @end-size) {
	.get-size(@start-width, @start-size, @end-width, @end-size);
  
	 @{rule}: @size;
}

.auto-size-rule(@rule, @start-size, @end-size) {
	.get-size(@start-width, @start-size, @end-width, @end-size);
  
	 @{rule}: @size;
}



.placeholder(@rules) {
		// Placeholder styles
	::-webkit-input-placeholder {
		@rules();
	}

	::-moz-placeholder { 
		@rules();	
	}

	:-ms-input-placeholder {
		@rules();			
	}
	:-moz-placeholder {
		@rules();
	}

}

.absolute-full {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


// Used for nav links
.link-style {
	font-family: 'Haas-bold';
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .12rem;
	font-size: .96rem;
	line-height: 0px;
	color: @black;
	text-decoration: none;	
	display: inline-block;
    position: relative;
    margin-right: 3rem;

	&:after {	
	    top: 7px;
	    content: "";
	    display: block;
	    height: 2px;
	    left: 50%;
	    position: absolute;
	    background: @black;
	    transition: width .3s ease 0s,left .3s ease 0s;
	    width: 0;
	}

	&.active,
	&:hover {
		text-decoration: none;	
		&:after {
		    width: 100%;
		    left: 0;
		}
	}
}


.link-style-wrap-safe {
    margin: 0 3rem;
    margin-bottom: 1em;
    line-height: 1.5;

    &.active {
        border-bottom: 2px @black solid;
    }

    &:after {
        display: none;
    }
}