
// Phone
@media screen and (max-width:@phone) {
    // export breakpoint
    body:before {
		content: "phone";
        display: none;		
    }

   .tablet-landscape-only {
    	display: none;
    }
    .tablet-portrait-only {
    	display: none;
    }
    .phone-only {
    	display: block;
    }

    .not-phone {
    	display: none;
    }

	html {
	    font-size: 0vw + (24 * @pxtovw);
	}

	#main {
		padding-top: 60px;
	}


	form {
		input {
			// float: none;
			display: block;
			width: 80%;
			margin: 0 auto 2rem auto;
		}
	}




	// Event list, default : layout
	body.event-list,
	body.default {
		article {
			min-height: ~"calc(100vh - 60px)";
			top: -60px;

			&:first-child {
				.inner {
					margin-top: 60px;
				}
			}


			.inner {
				min-height: ~"calc(100vh - 60px)";
				top: 60px;
				
			}
		}

		.background {
			background-position: 0 60px;
		}

	} 




	// Event list
	body.event-list .article-copy {
		h1 {
			font-size: 6.5rem;
		}

		p {
			padding: 0;
		}
	}

	// Default (eg, login) 

	body.default .article-copy {
		margin-left: 6rem;
		margin-right: 6rem;

		hr {
			margin: 3rem auto;
		}

		p {
			padding: 0;
		}
	}




	// Event detail

    body.event-detail,
    body.agenda {
        .header-image {
            margin-bottom: 3rem;
        }

        .tab-links {
            line-height: 2;
            font-size: 2.6rem;
        }

        .content {
	    	padding: 0 3.5rem;
            h1 {
                max-width: 100%;
            }
            p {
            	font-size: 2.6rem;
            }

            article {
                width: 100%;
                margin-right: 0;
				font-size: 2.5rem;

                > div {
                    padding: 0;
                }

                ul li {
                	margin-left: 3.5rem;
                }
            }


        }
    }

    // Agenda
	body.agenda {
		section {
			font-size: inherit;

			div:first-child {
				float: none;
				width: 100%;
			}
			div:last-child {
				float: none;
				width: 100%;
			}
		}
	}


	// Home
	// Home page background
	body.default .content.home .background {
		background-image: url(/i/backgrounds/home-phone.jpg);
	}


	#gdpr .cookie-notice {
		h4 {
			margin-bottom: 0.6em;
		}

		p {
			margin-bottom: 1em;
		}

		a.button {
			font-size: 120%;
			padding: 1.7rem;
		}
	}

}








