@charset "UTF-8";
/*
 © Chris How, Primesolid 2017
 All rights reserved.
*/
/*

	EXTREMELY IMPORTANT!

	Don't make changes to the styles.css file. Change the styles.less file, and compile the changes. 

	Otherwise you will lose the changes when the less file is next compiled!

*/
/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: inherit;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Border box all the things! */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms;
}
[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms;
}
[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
  transition-duration: 0.1s;
}
[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
  transition-duration: 0.15s;
}
[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: 0.15s;
}
[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
  transition-duration: 0.2s;
}
[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s;
}
[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
  transition-duration: 0.25s;
}
[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: 0.25s;
}
[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
  transition-duration: 0.3s;
}
[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}
[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
  transition-duration: 0.35s;
}
[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: 0.35s;
}
[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  transition-duration: 0.4s;
}
[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 0.4s;
}
[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
  transition-duration: 0.45s;
}
[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: 0.45s;
}
[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
  transition-duration: 0.5s;
}
[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: 0.5s;
}
[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
  transition-duration: 0.55s;
}
[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: 0.55s;
}
[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: 0.6s;
}
[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: 0.6s;
}
[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
  transition-duration: 0.65s;
}
[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: 0.65s;
}
[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
  transition-duration: 0.7s;
}
[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: 0.7s;
}
[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
  transition-duration: 0.75s;
}
[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: 0.75s;
}
[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  transition-duration: 0.8s;
}
[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: 0.8s;
}
[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
  transition-duration: 0.85s;
}
[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: 0.85s;
}
[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
  transition-duration: 0.9s;
}
[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: 0.9s;
}
[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
  transition-duration: 0.95s;
}
[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: 0.95s;
}
[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}
[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s;
}
[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s;
}
[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s;
}
[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s;
}
[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s;
}
[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s;
}
[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s;
}
[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s;
}
[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s;
}
[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s;
}
[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s;
}
[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s;
}
[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s;
}
[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s;
}
[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s;
}
[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s;
}
[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s;
}
[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s;
}
[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s;
}
[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s;
}
[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s;
}
[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s;
}
[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s;
}
[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s;
}
[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s;
}
[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s;
}
[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s;
}
[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s;
}
[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s;
}
[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s;
}
[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s;
}
[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s;
}
[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s;
}
[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s;
}
[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s;
}
[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s;
}
[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s;
}
[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s;
}
[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s;
}
[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s;
}
[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s;
}
[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s;
}
[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s;
}
[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s;
}
[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s;
}
[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s;
}
[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s;
}
[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s;
}
[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s;
}
[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s;
}
[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s;
}
[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s;
}
[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s;
}
[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s;
}
[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s;
}
[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s;
}
[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s;
}
[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s;
}
[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s;
}
[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s;
}
[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s;
}
[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s;
}
[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s;
}
[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s;
}
[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s;
}
[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s;
}
[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s;
}
[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s;
}
[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s;
}
[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s;
}
[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s;
}
[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s;
}
[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s;
}
[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s;
}
[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s;
}
[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s;
}
[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s;
}
[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s;
}
[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s;
}
[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s;
}
[data-aos][data-aos][data-aos-easing=linear],
body[data-aos-easing=linear] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-easing=ease-in],
body[data-aos-easing=ease-in] [data-aos] {
  transition-timing-function: ease-in;
}
[data-aos][data-aos][data-aos-easing=ease-out],
body[data-aos-easing=ease-out] [data-aos] {
  transition-timing-function: ease-out;
}
[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
  transition-timing-function: ease-in-out;
}
[data-aos][data-aos][data-aos-easing=ease-in-back],
body[data-aos-easing=ease-in-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
[data-aos][data-aos][data-aos-easing=ease-out-back],
body[data-aos-easing=ease-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-back],
body[data-aos-easing=ease-in-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],
body[data-aos-easing=ease-in-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
[data-aos][data-aos][data-aos-easing=ease-out-sine],
body[data-aos-easing=ease-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-sine],
body[data-aos-easing=ease-in-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-aos][data-aos][data-aos-easing=ease-in-quad],
body[data-aos-easing=ease-in-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-quad],
body[data-aos-easing=ease-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quad],
body[data-aos-easing=ease-in-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing=ease-in-cubic],
body[data-aos-easing=ease-in-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-cubic],
body[data-aos-easing=ease-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],
body[data-aos-easing=ease-in-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing=ease-in-quart],
body[data-aos-easing=ease-in-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing=ease-out-quart],
body[data-aos-easing=ease-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quart],
body[data-aos-easing=ease-in-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translate(0);
}
[data-aos=fade-up] {
  transform: translateY(100px);
}
[data-aos=fade-down] {
  transform: translateY(-100px);
}
[data-aos=fade-right] {
  transform: translate(-100px);
}
[data-aos=fade-left] {
  transform: translate(100px);
}
[data-aos=fade-up-right] {
  transform: translate(-100px, 100px);
}
[data-aos=fade-up-left] {
  transform: translate(100px, 100px);
}
[data-aos=fade-down-right] {
  transform: translate(-100px, -100px);
}
[data-aos=fade-down-left] {
  transform: translate(100px, -100px);
}
[data-aos^=zoom][data-aos^=zoom] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate {
  opacity: 1;
  transform: translate(0) scale(1);
}
[data-aos=zoom-in] {
  transform: scale(0.6);
}
[data-aos=zoom-in-up] {
  transform: translateY(100px) scale(0.6);
}
[data-aos=zoom-in-down] {
  transform: translateY(-100px) scale(0.6);
}
[data-aos=zoom-in-right] {
  transform: translate(-100px) scale(0.6);
}
[data-aos=zoom-in-left] {
  transform: translate(100px) scale(0.6);
}
[data-aos=zoom-out] {
  transform: scale(1.2);
}
[data-aos=zoom-out-up] {
  transform: translateY(100px) scale(1.2);
}
[data-aos=zoom-out-down] {
  transform: translateY(-100px) scale(1.2);
}
[data-aos=zoom-out-right] {
  transform: translate(-100px) scale(1.2);
}
[data-aos=zoom-out-left] {
  transform: translate(100px) scale(1.2);
}
[data-aos^=slide][data-aos^=slide] {
  transition-property: transform;
}
[data-aos^=slide][data-aos^=slide].aos-animate {
  transform: translate(0);
}
[data-aos=slide-up] {
  transform: translateY(100%);
}
[data-aos=slide-down] {
  transform: translateY(-100%);
}
[data-aos=slide-right] {
  transform: translateX(-100%);
}
[data-aos=slide-left] {
  transform: translateX(100%);
}
[data-aos^=flip][data-aos^=flip] {
  backface-visibility: hidden;
  transition-property: transform;
}
[data-aos=flip-left] {
  transform: perspective(2500px) rotateY(-100deg);
}
[data-aos=flip-left].aos-animate {
  transform: perspective(2500px) rotateY(0);
}
[data-aos=flip-right] {
  transform: perspective(2500px) rotateY(100deg);
}
[data-aos=flip-right].aos-animate {
  transform: perspective(2500px) rotateY(0);
}
[data-aos=flip-up] {
  transform: perspective(2500px) rotateX(-100deg);
}
[data-aos=flip-up].aos-animate {
  transform: perspective(2500px) rotateX(0);
}
[data-aos=flip-down] {
  transform: perspective(2500px) rotateX(100deg);
}
[data-aos=flip-down].aos-animate {
  transform: perspective(2500px) rotateX(0);
}
@font-face {
  font-family: 'Avenir-Light';
  src: url("/archive/fonts/AvenirLTStd-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Light';
  src: url("/archive/fonts/AvenirLTStd-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
.xdebug-var-dump {
  font-size: 1.5rem;
  font-family: monospace;
  margin-top: 110px;
}
body:before {
  content: "desktop";
  display: none;
}
html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -45px;
}
.footer,
.push {
  height: 45px;
}
.vc {
  text-align: center;
}
.vc:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.35em;
  /* Adjusts for spacing */
}
.vc > div.vc-inner {
  display: inline-block;
  vertical-align: middle;
}
.no-wrap {
  white-space: nowrap;
}
.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.phone-only {
  display: none;
}
.alert {
  padding: 1rem;
  margin: 0 auto 3rem auto;
  border: 1px solid transparent;
  font-size: 2.5rem;
  width: 60%;
  color: white;
  background-color: #68003b;
  border-color: white;
}
.expander {
  display: none;
}
html {
  font-size: 0.63vw;
  line-height: 1.5;
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 10px;
  }
}
body {
  background-color: white;
}
body.siteload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
header {
  position: fixed;
  top: 0;
  background-color: #68003b;
  height: 110px;
  z-index: 99;
  box-shadow: 0 5px 10px rgba(85, 87, 89, 0.15);
  background-color: #68003b !important;
  padding: 31px 150px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header #site-logo {
  margin: 0;
  float: left;
  width: 334px;
  height: 23px;
  line-height: 39px;
}
header #site-logo img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
header .main-navigation {
  float: right;
  max-width: 80%;
  font-family: 'Avenir-Light';
}
header .main-navigation ul {
  list-style: none;
}
header .main-navigation ul li {
  float: left;
  position: relative;
  font-size: 15px;
  margin: 0;
  margin-left: 25px;
}
header .main-navigation ul li:hover,
header .main-navigation ul li.active {
  background-color: black;
}
header .main-navigation ul li:last-child {
  border: 1px solid white;
}
header .main-navigation a {
  display: block;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  padding: 10px 14px;
  text-decoration: none;
}
header .menu-toggle {
  display: none;
  height: 52px;
  width: 52px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  position: relative;
}
header .menu-toggle span,
header .menu-toggle span:after,
header .menu-toggle span:before {
  text-indent: -9999px;
  height: 5px;
  width: 40px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 5px;
  top: 10px;
}
header .menu-toggle span:after {
  content: "";
  left: 0;
  top: 13px;
}
header .menu-toggle span:before {
  content: "";
  left: 0;
  top: 25px;
}
#gdpr {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#gdpr .cookie-notice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Avenir-Light';
  color: white;
  padding: 30px 150px 40px 150px;
  overflow: hidden;
  background-color: #68003b;
  font-size: 2rem;
}
#gdpr .cookie-notice h4 {
  font-family: 'Georgia', sans-serif;
  font-size: 4rem;
}
#gdpr .cookie-notice a {
  color: white;
}
#gdpr .cookie-notice hr {
  visibility: hidden;
  margin-top: 25px;
}
#gdpr .cookie-notice a.button {
  text-decoration: none;
  clear: both;
}
#gdpr .cookie-notice a.button:hover {
  background-color: white;
  color: #68003b;
}
#cookie-dump {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background-color: white;
  font-family: monospace;
  padding: 20px;
}
@media screen and (max-width: 1500px) {
  header {
    padding: 31px 80px;
  }
  header .main-navigation ul li {
    margin-left: 13px;
  }
  #gdpr .cookie-notice {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1250px) {
  header .main-navigation a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1175px) {
  header {
    padding: 31px 20px;
  }
  header .main-navigation ul li {
    margin-left: 3px;
  }
  #gdpr .cookie-notice {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  header .menu-toggle {
    display: block;
  }
  header #menu-primary-nav {
    display: none;
  }
  header .main-navigation ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #68003b;
    padding: 10px 0;
    text-align: center;
  }
  header .main-navigation ul li {
    display: inline-block;
    margin: 0 10px;
    float: none;
  }
}
@media screen and (min-width: 1001px) {
  #menu-primary-nav {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  header #site-logo {
    width: 70%;
    margin-left: 10px;
  }
  header .main-navigation ul {
    padding: 0;
  }
  header .main-navigation ul li {
    display: block;
    border-bottom: 1px #5e0035 solid;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 520px) {
  header {
    height: 60px;
    padding: 0;
  }
}
#main {
  min-height: calc(100vh - 45px );
  background: #000000 url(/archive/i/backgrounds/ship.jpg) 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 110px;
}
.content {
  color: white;
  text-align: center;
  font-family: 'Avenir-Light', sans-serif;
  font-size: 2.6rem;
  margin: 0 11rem 0 11rem;
}
form {
  margin-bottom: 2rem;
}
form input {
  font-family: 'Avenir-Light';
  border: 1px white solid;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  padding: 1.5rem;
  width: 28rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: none;
}
form input.active,
form input:hover {
  background-color: #68003b;
  text-decoration: none !important;
}
form input span {
  padding: 0px 0px 0px 10px;
}
form input:active,
form input:hover {
  background-color: inherit;
}
form button {
  font-family: 'Avenir-Light';
  border: 1px white solid;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: none;
  padding: 1.5rem;
  width: 28rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: auto;
  cursor: pointer;
  transition: all 0.25s linear;
  text-transform: uppercase;
}
form button.active,
form button:hover {
  background-color: #68003b;
  text-decoration: none !important;
}
form button span {
  padding: 0px 0px 0px 10px;
}
form button:active,
form button:hover {
  background-color: #68003b;
}
form ::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}
form ::-moz-placeholder {
  color: white;
  text-transform: uppercase;
}
form :-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}
form :-moz-placeholder {
  color: white;
  text-transform: uppercase;
}
form.choose-password {
  font-size: 1.75rem;
}
form.choose-password p {
  margin: 2.5rem;
  line-height: 2;
}
.button {
  font-family: 'Avenir-Light';
  border: 1px white solid;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: none;
  text-transform: uppercase;
  padding: 1.5rem;
  width: 28rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button.active,
.button:hover {
  background-color: #68003b;
  text-decoration: none !important;
}
.button span {
  padding: 0px 0px 0px 10px;
}
body.default .content.home .article-copy h2,
body.default .content.home .article-copy p {
  max-width: 115rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
body.default .content.home .background {
  background-image: url(/i/backgrounds/home.jpg);
}
footer {
  height: 45px;
  background-color: black;
  color: #888888;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 16px;
}
footer a {
  color: #888888;
  margin-left: 3rem;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
body.event-list #main,
body.default #main {
  background-image: none;
  padding-top: 0;
}
body.event-list #main .content,
body.default #main .content {
  margin: 0;
}
body.event-list article,
body.default article {
  position: relative;
  height: auto;
  min-height: calc(100vh - 110px);
  overflow: visible;
  top: -110px;
}
body.event-list article .inner,
body.default article .inner {
  height: auto;
  height: 0;
  min-height: calc(100vh - 110px);
  position: relative;
  z-index: 2;
  margin-top: 0px;
  top: 110px;
  display: table;
  width: 100%;
}
body.event-list article .inner .article-copy,
body.default article .inner .article-copy {
  height: auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
body.event-list article .inner .tr,
body.default article .inner .tr {
  display: table-row;
  height: 100%;
}
body.event-list article .inner .tr.next,
body.default article .inner .tr.next {
  height: 6.4rem;
}
body.event-list article .inner .tr.next .next-page,
body.default article .inner .tr.next .next-page {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
body.event-list article:first-child .inner,
body.default article:first-child .inner {
  margin-top: 110px;
}
body.event-list .background,
body.default .background {
  background-image: url(/archive/i/backgrounds/ship.jpg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: -110px;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 110px;
  z-index: -1;
}
body.event-list .background .blackout,
body.default .background .blackout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
}
body.event-list .background .blackout2,
body.default .background .blackout2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}
body.event-list .content.default article,
body.default .content.default article {
  min-height: calc(100vh - 110px - 45px);
}
body.event-list .content.default article .inner,
body.default .content.default article .inner {
  min-height: calc(100vh - 110px - 45px);
}
body.event-list .background {
  background-image: none;
}
html.iOS body.event-list .background {
  background-attachment: scroll;
  background-position: center center;
}
[data-aos^=fade][data-aos^=fade].aos-animate.blackout2 {
  opacity: 0.6;
}
@-webkit-keyframes flow-down {
  0% {
    top: 0px;
    opacity: 0.8;
  }
  50% {
    top: 5px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0.8;
  }
}
@keyframes flow-down {
  0% {
    top: 0px;
    opacity: 0.8;
  }
  50% {
    top: 9px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0.8;
  }
}
body.event-list .article-copy,
body.default .article-copy {
  padding: 5rem 10rem;
}
body.event-list .article-copy h1,
body.default .article-copy h1 {
  font-size: 7.2rem;
  line-height: 1.15;
  font-weight: normal;
  font-family: 'Georgia', sans-serif;
}
body.event-list .article-copy h2,
body.default .article-copy h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin-bottom: 4rem;
}
body.event-list .article-copy p,
body.default .article-copy p {
  font-size: 2rem;
  padding: 0 6.4rem;
  margin-bottom: 4.2rem;
}
body.event-list .article-copy p.forgot,
body.default .article-copy p.forgot {
  font-size: 1.8rem;
}
body.event-list .article-copy p.smaller,
body.default .article-copy p.smaller {
  font-size: 1.8rem;
}
body.event-list .article-copy a,
body.default .article-copy a {
  color: white;
  text-decoration: none;
}
body.event-list .article-copy a:hover,
body.default .article-copy a:hover {
  text-decoration: underline;
}
body.event-list .article-copy hr,
body.default .article-copy hr {
  border: 0;
  height: 1px;
  width: 6%;
  margin: 7rem auto;
  background: white;
}
body.event-list .article-copy p {
  font-size: 2.6rem;
  padding: 0 19rem;
}
.next-page {
  position: relative;
  height: 6.4rem;
  width: 6.4rem;
  border: 2px solid #FFF;
  border-radius: 50%;
  bottom: 5%;
  left: 50%;
  margin-left: -3.2rem;
}
.next-page a {
  display: block;
  background: transparent url(/archive/i/shared/down-arrow.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0px;
  height: 50%;
  width: 50%;
  margin: 1.51rem;
  -webkit-animation: flow-down 2s linear 3s infinite;
  animation: flow-down 2s linear 3s infinite;
}
body.event-detail #main,
body.agenda #main {
  background-image: none;
  background-color: white;
}
body.event-detail .header-image,
body.agenda .header-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 6rem;
}
body.event-detail .content,
body.agenda .content {
  color: black;
  margin: 0;
  max-width: 1190px;
  padding: 0 5rem;
  margin: 0 auto;
  text-align: left;
  font-size: 2rem;
  line-height: 1.4;
}
body.event-detail .content h1,
body.agenda .content h1,
body.event-detail .content h2,
body.agenda .content h2,
body.event-detail .content h3,
body.agenda .content h3 {
  color: #68003b;
  font-size: 4.3rem;
  font-weight: normal;
  font-family: 'Georgia', serif;
  max-width: 92rem;
  margin: 0;
  line-height: 1.25;
}
body.event-detail .content a,
body.agenda .content a {
  color: #68003b;
}
body.event-detail .content hr,
body.agenda .content hr {
  width: 100%;
  background-color: #68003b;
  border: none;
  height: 1px;
  margin: 0;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}
body.event-detail .content h2,
body.agenda .content h2 {
  color: #a7a7a7;
}
body.event-detail .content p,
body.agenda .content p {
  padding: 0;
  font-size: inherit;
  margin-bottom: 4.2rem;
}
body.event-detail .content .section,
body.agenda .content .section {
  overflow: hidden;
  margin-top: -1.2rem;
  margin-bottom: 2em;
}
body.event-detail .content article,
body.agenda .content article {
  width: 32.2%;
  float: left;
  font-size: 1.4rem;
  margin-right: 1.7%;
  margin-top: 2rem;
  line-height: 1.5;
}
body.event-detail .content article > div,
body.agenda .content article > div {
  padding: 0 1.4rem;
}
body.event-detail .content article h4,
body.agenda .content article h4 {
  font-size: 1.3em;
  padding-top: 0.7em;
  padding-bottom: 0.2em;
  color: #68003b;
  font-weight: bold;
}
body.event-detail .content article p,
body.agenda .content article p {
  font-size: inherit;
  color: #a7a7a7;
  margin-bottom: 0;
  font-size: 1em;
}
body.event-detail .content article img,
body.agenda .content article img {
  width: 100%;
  height: auto;
  display: block;
}
body.event-detail .content article h5,
body.agenda .content article h5 {
  font-size: inherit;
  color: #68003b;
  font-weight: bold;
  padding-bottom: 0.2em;
}
body.event-detail .content article a,
body.agenda .content article a {
  color: #68003b;
  text-decoration: none;
}
body.event-detail .content article a.download,
body.agenda .content article a.download {
  display: block;
  float: left;
  margin-top: 0.3em;
}
body.event-detail .content article ul,
body.agenda .content article ul {
  list-style: square;
  margin-bottom: 0.5em;
}
body.event-detail .content article ul li,
body.agenda .content article ul li {
  color: #68003b;
  margin: 0 0 0 2rem;
  padding: 0 0 0 0rem;
  font-size: 2em;
  line-height: 1rem;
  padding-bottom: 0.3em;
}
body.event-detail .content article ul li p,
body.agenda .content article ul li p {
  color: #a7a7a7;
  font-size: 0.5em;
  line-height: 1.2em;
}
body.event-detail .content article:nth-child(3n),
body.agenda .content article:nth-child(3n) {
  margin-right: 0;
}
body.event-detail .content article:nth-child(3n+1),
body.agenda .content article:nth-child(3n+1) {
  clear: left;
}
.tab-links {
  text-align: center;
  margin-bottom: 2.4rem;
}
.tab-links a {
  display: inline-block;
  padding: 0 3rem;
  margin: 0 3.5rem;
  text-decoration: none;
}
.tab-links a.active,
.tab-links a:hover {
  border-bottom: 1px #68003b solid;
}
.tab-links a.active {
  font-weight: bold;
}
body.agenda .day {
  margin-bottom: 7rem;
}
body.agenda section {
  overflow: hidden;
  margin-bottom: 2rem;
  font-size: 2rem;
}
body.agenda section div:first-child {
  font-weight: bold;
  color: #68003b;
  float: left;
  width: 18%;
}
body.agenda section div:last-child {
  float: left;
  width: 75%;
  color: #a7a7a7;
}
body.agenda section div:last-child b {
  color: black;
  font-weight: bold;
}
.slideshow-border-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.slideshow-box-shadow {
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
}
body.player {
  font-family: 'Avenir-Light';
  font-size: 2rem;
}
body.player #main {
  background: none;
}
body.player #main a {
  color: #68003b;
}
body.player .push {
  display: none;
}
body.player .inner {
  height: calc(100vh - 110px);
}
body.player .presentation {
  height: calc(100% - 45px);
  overflow: hidden;
}
body.player .presentation > div {
  height: 100%;
  padding: 25px;
}
body.player .presentation .left {
  position: relative;
  float: left;
  width: 433px;
}
body.player .presentation .left h3 {
  font-family: 'Georgia', serif;
  font-size: 2.4rem;
  color: #68003b;
  font-weight: bold;
  padding: 1rem;
  padding-top: 3rem;
  border-bottom: 1px #68003b solid;
  margin-bottom: 10px;
}
body.player .presentation .left li {
  padding: 0.8rem 0 0.3rem 0.8rem;
  font-size: 2rem;
  line-height: 2;
}
body.player .presentation .left li a {
  text-decoration: none;
  padding-bottom: 0.8rem;
}
body.player .presentation .left li a.active {
  border-bottom: 1px #68003b solid;
  font-weight: bold;
}
body.player .presentation .left li:first-child {
  border-top: none;
}
body.player .presentation #chapters {
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px #68003b solid;
}
body.player .presentation #video-player {
  height: 212px;
  width: 380px;
  background-color: #a7a7a7;
  display: block;
}
body.player .presentation .right {
  width: 100%;
  padding-left: 458px;
}
body.player .presentation .right .slide-wrapper {
  overflow-y: auto;
  height: 100%;
}
body.player .presentation #current-slide {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
body.player .presentation #slide-navigator {
  position: relative;
  width: 100%;
  height: 95px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 10px;
}
body.player .presentation #slide-navigator .inner {
  height: 77px;
}
body.player .presentation #slide-navigator a {
  outline: none;
}
body.player .presentation #slide-navigator img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5);
  width: 100px;
  display: block;
  float: left;
  border: 1px #616265 solid;
  margin: 1px 11px 1px 1px;
}
body.player .presentation #slide-navigator img.active {
  border-color: #68003b;
}
body.player .bottom {
  padding-top: 1rem;
}
body.player.video-only .presentation .left h3 {
  padding-top: 0;
}
body.player.video-only .presentation #video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
body.player.video-only .presentation #video-container iframe,
body.player.video-only .presentation #video-container object,
body.player.video-only .presentation #video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#go-top {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  opacity: 0;
  height: 4rem;
  width: 4rem;
  background: #68003b;
  text-align: center;
  line-height: 4rem;
  z-index: 9999;
  transition: opacity 0.5s;
}
#go-top.visible {
  opacity: 1;
}
#go-top a {
  position: absolute;
  text-decoration: none;
  display: block;
  background: transparent url(/archive/i/shared/up-arrow.png) no-repeat center;
  background-size: contain;
  width: 1.6rem;
  height: 0.9rem;
  left: 50%;
  top: 50%;
  margin-left: -0.8rem;
  margin-top: -0.45rem;
}
body.privacy-policy .content ul {
  list-style: square;
  margin-bottom: 0.0em;
}
body.privacy-policy .content ul li,
body.privacy-policy .content .second-ul {
  color: #68003b;
  margin: 0 0 0 4rem;
  padding: 0 0 0 0rem;
  font-size: 2em;
  line-height: 1rem;
  padding-bottom: 0.1em;
}
body.privacy-policy .content ul li p,
body.privacy-policy .content .second-ul {
  color: #000000;
  font-size: 0.5em;
  line-height: 1.2em;
  margin: 0 0 3 0rem;
  padding: 0 0 0 0rem;
}
body.privacy-policy .content strong {
  font-weight: 800;
}
body.privacy-policy .content em {
  font-style: italic;
}
body.privacy-policy section div:last-child {
  float: left;
  width: 75%;
  color: #000000;
}
.media-label {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px black solid;
  background-color: white;
  font-family: sans-serif;
  opacity: 0.5;
  display: none !important;
}
@media screen and (max-width: 1330px) {
  body.event-detail .content article {
    font-size: 11.74px;
  }
}
@media screen and (max-width: 1024px) {
  body:before {
    content: "tablet-landscape";
    display: none;
  }
  .tablet-landscape-only {
    display: block;
  }
  html {
    font-size: 0.819vw;
  }
  body.default .article-copy {
    padding: 3rem 7rem;
  }
  body.default .article-copy hr {
    display: none;
  }
  body.default .article-copy h1 {
    margin-bottom: 4rem;
  }
  body.default .article-copy p.smaller {
    margin-bottom: 0;
  }
  body.default.home .article-copy h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  body.default.home .article-copy p {
    font-size: 1.6rem;
  }
  body.event-list .article-copy {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }
  body.event-list .article-copy hr {
    margin: 3rem auto;
  }
  body.event-list .article-copy p {
    padding: 0 4rem;
  }
  #gdpr .cookie-notice p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 782px) {
  body:before {
    content: "tablet-portrait";
    display: none;
  }
  .tablet-landscape-only {
    display: none;
  }
  .tablet-portrait-only {
    display: block;
  }
  html {
    font-size: 0.945vw;
  }
  .alert {
    width: 100%;
  }
  .content.home h2,
  .content.home p {
    max-width: 100%;
    padding: 0;
  }
  body.event-list .article-copy p {
    padding: 0;
  }
  body.event-detail .header-image,
  body.agenda .header-image {
    margin-bottom: 3rem;
  }
  body.event-detail .content h1,
  body.agenda .content h1 {
    max-width: 100%;
  }
  body.default .article-copy {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  body.home .content.home .article-copy {
    padding: 3rem 8rem;
  }
  body.home .content.home .article-copy h2 {
    font-size: 2.6rem;
    margin-bottom: 4rem;
  }
  body.home .content.home .article-copy p {
    font-size: 2rem;
  }
  #gdpr .cookie-notice p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  body:before {
    content: "phone";
    display: none;
  }
  .tablet-landscape-only {
    display: none;
  }
  .tablet-portrait-only {
    display: none;
  }
  .phone-only {
    display: block;
  }
  .not-phone {
    display: none;
  }
  html {
    font-size: 1.512vw;
  }
  #main {
    padding-top: 60px;
  }
  form input {
    display: block;
    width: 80%;
    margin: 0 auto 2rem auto;
  }
  body.event-list article,
  body.default article {
    min-height: calc(100vh - 60px);
    top: -60px;
  }
  body.event-list article:first-child .inner,
  body.default article:first-child .inner {
    margin-top: 60px;
  }
  body.event-list article .inner,
  body.default article .inner {
    min-height: calc(100vh - 60px);
    top: 60px;
  }
  body.event-list .background,
  body.default .background {
    background-position: 0 60px;
  }
  body.event-list .article-copy h1 {
    font-size: 6.5rem;
  }
  body.event-list .article-copy p {
    padding: 0;
  }
  body.default .article-copy {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  body.default .article-copy hr {
    margin: 3rem auto;
  }
  body.default .article-copy p {
    padding: 0;
  }
  body.event-detail .header-image,
  body.agenda .header-image {
    margin-bottom: 3rem;
  }
  body.event-detail .tab-links,
  body.agenda .tab-links {
    line-height: 2;
    font-size: 2.6rem;
  }
  body.event-detail .content,
  body.agenda .content {
    padding: 0 3.5rem;
  }
  body.event-detail .content h1,
  body.agenda .content h1 {
    max-width: 100%;
  }
  body.event-detail .content p,
  body.agenda .content p {
    font-size: 2.6rem;
  }
  body.event-detail .content article,
  body.agenda .content article {
    width: 100%;
    margin-right: 0;
    font-size: 2.5rem;
  }
  body.event-detail .content article > div,
  body.agenda .content article > div {
    padding: 0;
  }
  body.event-detail .content article ul li,
  body.agenda .content article ul li {
    margin-left: 3.5rem;
  }
  body.agenda section {
    font-size: inherit;
  }
  body.agenda section div:first-child {
    float: none;
    width: 100%;
  }
  body.agenda section div:last-child {
    float: none;
    width: 100%;
  }
  body.default .content.home .background {
    background-image: url(/i/backgrounds/home-phone.jpg);
  }
  #gdpr .cookie-notice h4 {
    margin-bottom: 0.6em;
  }
  #gdpr .cookie-notice p {
    margin-bottom: 1em;
  }
  #gdpr .cookie-notice a.button {
    font-size: 120%;
    padding: 1.7rem;
  }
}
