// Fix smaller type size at 1330px
@media screen and (max-width: 1330px) {
    body.event-detail {
        .content  article {
            font-size: 11.74px;
        }
    }
}



// Tablet landscape
@media screen and (max-width:@tablet-landscape) {
    // export breakpoint
    body:before {
		content: "tablet-landscape";
        display: none;
    }

    .tablet-landscape-only {
    	display: block;
    }

    /////////////////
    // Adjust font size
    /////////////////

	html {
	    font-size: 0vw + (13 * @pxtovw);
	}

    /////////////////
    // Adjustments to text sizes and padding
    /////////////////

    body.default {
        // reduce article copy padding 
        .article-copy {
            padding: 3rem 7rem;

            hr {
                display: none;
            }

            h1 {
                margin-bottom: 4rem;
            }
            p.smaller {
                margin-bottom: 0;
            }
        }

        // home
        &.home {
            .article-copy {
                h2 {
                    font-size: 2rem;
                    margin-bottom: 3rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }

    }

    body.event-list .article-copy {
        padding-left: 6.5rem;
        padding-right: 6.5rem;

        hr {
            margin: 3rem auto;
        }

        p {
            padding: 0 4rem;
        }
    }

    #gdpr .cookie-notice p {
        font-size: 1.6rem;
    }
}




// Tablet portrait
@media screen and (max-width:@tablet-portrait) {
    // export breakpoint
    body:before {
		content: "tablet-portrait";
        display: none;        
    }

   .tablet-landscape-only {
    	display: none;
    }
    .tablet-portrait-only {
    	display: block;
    }

    /////////////////
    // Font size adjust
    /////////////////

	html {
	    font-size: 0vw + (15 * @pxtovw);
	}

    .alert {
        width: 100%;
    }

    /////////////////
    // Text size and padding tweaks
    /////////////////

    .content.home {
        h2,
        p {
            max-width: 100%;
            padding: 0;
        }
    }

    body.event-list .article-copy {
        p {
            padding: 0;
        }
    }

    body.event-detail,
    body.agenda {
        .header-image {
            margin-bottom: 3rem;
        }


        .content {
            h1 {
                max-width: 100%;
            }

        }
    }


    body.default .article-copy {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    body.home {
        .content.home .article-copy {
            padding: 3rem 8rem;
            h2 {
                font-size: 2.6rem;
                margin-bottom: 4rem;
            }
            
            p {
                font-size: 2rem;
            }
        }
    }

    #gdpr .cookie-notice p {
        font-size: 2rem;
    }

}