

// Colours

@burgundy: #68003b;
@darker-burgundy: #5e0035;
@grey: #a7a7a7;

// Sizing
@max-site-width: 1600px;
@pxtovw: 0.063;

// Breakpoints
@tablet-landscape: 1024px;
@tablet-portrait: 782px;
@phone: 600px;


.at-max-width(@rules) {
    @media screen and (min-width:@max-site-width) {
	@rules();
    }
}

.placeholder(@rules) {
		// Placeholder styles
	::-webkit-input-placeholder {
		@rules();
	}

	::-moz-placeholder { 
		@rules();	
	}

	:-ms-input-placeholder {
		@rules();			
	}
	:-moz-placeholder {
		@rules();
	}

}

.absolute-full {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
