@import (reference) '../../css/vars.less';


body {
  padding-top: 50px;
  padding-bottom: 100px;
}

.narrow-form {
	input[type=text],
  input[type=password],
  input[type=file],
	select {
		width: 30%;
		min-width: 30rem;
	}
}


.admin-buttons {
	width: 30%;
	min-width: 30rem;
	margin-bottom: 2em;
} 

.visit-form {
	border: 1px #ddd solid;
	padding: 10px;

	.form-group {
		padding-bottom: 10px;
	}

	input[type=text] {

	}

	label {
		width: 100px;
	}
}


/* Datepicker tweaks */


.ui-widget-header .ui-state-hover {
	background-color: white;
}



.bulk-action-select {
    margin-right: 6px;
    max-width: 12.5rem;    


    font-size: 14px;
    line-height: 2;
    color: #32373c;
    border-color: #7e8993;
    box-shadow: none;
    border-radius: 3px;
    padding: 0 24px 0 8px;
    min-height: 30px;
    max-width: 25rem;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
  }

.bulk-action-button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;

    color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    vertical-align: top;
  }

  .bulk-action-button[disabled] {
    color: #a5c3d1;
    border-color: #a5c3d1;
  }

#bulk-action-result {
  display: none;
  position: fixed;
  height: 80%;
  top: 10%;
  width: 80%;
  left: 10%;
  background-color: white;
  /*padding: 20px;*/
  border: 2px #777 solid;
  /*overflow: auto;*/

  span.email {
    font-family: monospace;
  }
}

#bulk-action-result .dialog-close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  border-radius: 50%;
  font-weight: bold;
  text-decoration: none;
}


#bulk-action-result > div {
  padding: 10px;
  height: 100%;
  overflow: auto;
}


// Edit Custom Email

.edit-custom-email {
  textarea {
    display: block;
    width: 600px;
    max-width: 600px;
    height: 600px;
    margin-bottom: 2em;
    padding: 0;
  }

  input[type=text],
  input[type=email] {
    max-width: 500px;
  }
}


.email-preview-container {
  width: 610px;
  border: 2px #4a4a4a solid;
}

input[disabled] {
  opacity: 0.5;
}


// User import preview
.import-preview {
  td {
      position: relative;    
  }

  tr.error {
    // background-color: pink;
    td {
      // border: 1px #a94442 solid;
      background-color: #f2dede;
    }
  }

  // Validation errors tooltips
  .help-tip {
      position: absolute;
      top: 9px;
      right: 3px;
      text-align: center;
      background-color: #666;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      cursor: default;
  } 

  // Error help tip colour

  tr.error .help-tip {
    background-color: #a94442;
  }

  .help-tip:before {
      content:'?';
      font-weight: bold;
      color:#fff;
  }

  .help-tip:hover p {
      display:block;
      transform-origin: 100% 0%;

      -webkit-animation: fadeIn 0.3s ease-in-out;
      animation: fadeIn 0.3s ease-in-out;

  }

  .help-tip p {    /* The tooltip */
      display: none;
      text-align: left;
      background-color: #1E2021;
      padding: 20px;
      width: 300px;
      position: absolute;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      right: -6px;
      color: #FFF;
      font-size: 13px;
      line-height: 1.4;
      margin-top: 5px;
      z-index: 1;
  }

  .help-tip p:before { /* The pointer of the tooltip */
      position: absolute;
      content: '';
      width:0;
      height: 0;
      border:6px solid transparent;
      border-bottom-color:#1E2021;
      right:10px;
      top:-12px;
  }

  .help-tip p:after { /* Prevents the tooltip from being hidden */
      width:100%;
      height:40px;
      content:'';
      position: absolute;
      top:-40px;
      left:0;
  }
}

.import-summary {
  // border: 1px #a94442 solid;
}


// Timings converter

.timings-converter {
  textarea {
    width: 500px;
    height: 500px;
    font-family: monospace;
    white-space: pre-wrap;
  }


  > div {
    overflow: hidden;
    > div {
      float: left;
      width: 520px;
    }
  }

  #isValid.error {
    color: red;
  }
}


